<h1>Hey guys, lets get this party started!</h1>
<img src='https://media.giphy.com/media/BuHELiSSKeP4c/giphy.gif'>
<button class='btn btn-primary' id="test-button">Hi there</button>

<script>
$(function(){
  $('#test-button').click(function(){
    alert('Chess Fusion is gonna be awesome!');
  })
});
</script>

