<h1>Create New Game</h1>
  
<div class="booyah-box col-xs-10 col-xs-offset-1">
  <%= simple_form_for @game do |f| %>
    <%= f.input :name %>
  
    <br />
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>

</div>
