<h1>Game Details</h1>

<table>
  <% (0..7).each do |row| %>
    <tr>
      <% (0..7).each do |col| %>
        <td>
          <% if @game.piece_at_location(row, col).present? %>
            <%= link_to game_piece_path(game_id: @game, id: @game.piece_at_location(row,col).first) do %>
              <%= @game.render_piece(row, col) %>
            <% end %>
          <% else %>
          <%= @game.render_piece(row,col) %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
