<h1>Game Details</h1>

<table>
  <% (0..7).each do |row| %>
    <tr>
      <% (0..7).each do |col| %>
        <td><%= @game.render_piece(row, col) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
