@font-face {
  font-family: 'merifont';
  src: url('chess-merida-unicode.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  background: url('connect.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", 
  Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", 
  Georgia, serif;
}

.white-king:after {
  content: '\2654';
}

.white-queen:after {
  content: '\2655';
}

.white-rook:after {
  content: '\2656';
}

.white-bishop:after {
  content: '\2657';
}

.white-knight:after {
  content: '\2658';
}

.white-pawn:after {
  content: '\2659';
}

.black-king:after {
  content: '\265A';
}

.black-queen:after {
  content: '\265B';
}

.black-rook:after {
  content: '\265C';
}

.black-bishop:after {
  content: '\265D';
}

.black-knight:after {
  content: '\265E';
}

.black-pawn:after {
  content: '\265F';
}

.piece-font {
  font-family: 'merifont';
  font-size: 50px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  color: black;
  line-height: 85px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.game-box {
  border: 1px solid black; 
}

.join-button {
  margin-bottom: 10px;
}

h1, h3, h5 {
  text-align: center;
  padding-bottom: 10px;
}

table {
  margin: 0 auto;
  background: white;
  border: 2px solid black;
}

td {
    width: 85px; height: 85px;
}

tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
  background: #535a5c;
  color: white;
}

.selected-piece {
  background-color: blue;
  font-family: 'merifont';
  font-size: 50px;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.empty-square {
  width: 100%;
  height: 100%;
}
.empty-square a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.gravatar {
  text-align: center;
}
.gravatar img {
  margin:0 auto;
  margin-top: 10px;
  display: block;
  border: 1px solid #7A7A7A;
}

.clear {
  clear:both;
}

#active-status {
  color: #44BF2C;
}

#inactive-status {
  color: #A2A3AB;
}

.btn-danger {
  margin: 5px;
}

.check-status {
  margin: 0 auto;
  padding-top: 10px;
}

.move-turn {
  margin: 0 auto;
  padding-top: 10px;
  font-weight: bold;
  font-size: 20px;
}

.stalemate-status {
  margin: 0 auto;
  padding-top: 10px;
}

.checkmate-status {
  margin: 0 auto;
  padding-top: 10px;
}

.hero {
  background: url('chess.jpeg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.frosty {
  background:rgba(0,0,0,0.5);
  color:white;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}
